@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="contact-container">
    <h1>Liên hệ với chúng tôi</h1>
    <div class="contact-details">
        <h2>Địa chỉ</h2>
        <p>Trường Đại học Ngoại ngữ - Tin học TP. Hồ Chí Minh (HUFLIT)</p>
        <p>828 Sư Vạn Hạnh, Phường 13, Quận 10, TP. Hồ Chí Minh</p>
    </div>
    <div class="contact-details">
        <h2>Hotline</h2>
        <p>0868005667<p>
    </div>
    <div class="map-container">
        <h2>Bản đồ</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6080645863764!2d106.66877261533469!3d10.762913362402034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edbbdd2d57f%3A0xc6ce0f3a4493e715!2zSMOyIFRodeG6rW5nLCBTxqFuIE3huqFj!5e0!3m2!1svi!2s!4v1597659874083!5m2!1svi!2s"
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"></iframe>
    </div>
    <div class="books-container">
        <h2>Hình ảnh về chúng tôi</h2>
        <div>
            <img src="~/Images/ba.jpg" alt="Sách" class="book-image" />
            <img src="~/Images/an2.jpg" alt="Sách" class="book-image" />
            <img src="~/Images/huy1.jpg" alt="Sách" class="book-image" />
            <img src="~/Images/emhoang.jpg" alt="Sách" class="book-image" />
            <img src="~/Images/manh.jpg" alt="Sách" class="book-image" />
        </div>
    </div>
</div>

<style>
    .contact-container {
        text-align: center;
        margin: 20px auto;
        max-width: 900px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #333;
        background: #f9f9f9;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    h1 {
        font-size: 2.5em;
        margin-bottom: 20px;
        color: #ff0000; /* Màu đỏ */
    }

    h2 {
        font-size: 1.75em;
        margin-bottom: 10px;
        color: #ff0000; /* Màu đỏ */
    }

    .contact-details p {
        font-size: 1.1em;
        margin: 5px 0;
    }

    .map-container iframe {
        width: 100%;
        height: 450px;
        border: 0;
        border-radius: 10px;
    }

    .books-container {
        margin-bottom: 30px;
    }

    .book-image {
        width: 150px;
        height: 200px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
