
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about-section">
    <h2>Về Website</h2>
    <p>Website của tập đoàn tôi là một trong những website hàng đầu trong lĩnh vực công nghệ thông tin tại Việt Nam. Chúng tôi được thành lập vào năm 2024 và đã không ngừng phát triển và mở rộng hoạt động trong suốt 2 tuần qua.</p>
</section>
<img src="https://sohanews.sohacdn.com/2017/photo-2-1484015752096.gif" style="margin-left:100px">
<section class="about-section">
    <h2>Tầm nhìn và Sứ mệnh</h2>
    <p>Tầm nhìn của Tập đoàn chúng tôi là trở thành tập đoàn công nghệ hàng đầu tại Việt Nam, cung cấp các giải pháp công nghệ tiên tiến và đổi mới. Sứ mệnh của chúng tôi là góp phần thúc đẩy sự phát triển của công nghệ thông tin, mang lại những giá trị gia tăng cho khách hàng và cộng đồng.</p>
</section>

<section class="about-section">
    <h2>Các Giá Trị Cốt Lõi</h2>
    <ul>
        <li>Sáng tạo</li>
        <li>Chuyên nghiệp</li>
        <li>Trách nhiệm</li>
        <li>Liêm chính</li>
        <li>Hợp tác</li>
    </ul>
</section>

