
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="contact-info">
        <div class="body-container">
            <h2>Liên hệ</h2>
            <p>Bạn có thắc mắc hay góp ý gì cho Nhasach? Hãy liên hệ với chúng tôi qua các thông tin sau:</p>

            <div class="contact-details">
                <h3>Thông tin liên hệ</h3>
                <ul>
                    <li><span class="icon fas fa-map-marker-alt"></span> Đại Học Ngoại Ngữ - Tin Học TP.HCM (HUFLIT) CS Sư Vạn Hạnh, Đường Sư Vạn Hạnh, Phường 13, Quận 10, Thành phố Hồ Chí Minh</li>
                    <li><span class="icon fas fa-phone-alt"></span> 028 3863 2052</li>
                    <li><span class="icon fas fa-envelope"></span> ctctsv@huflit.edu.vn - dsa@huflit.edu.vn</li>
                    <li><span class="icon fas fa-globe"></span> https://www.nhasach.com/</li>
                </ul>
            </div>

            <div class="contact-form">
                <h3>Gửi tin nhắn</h3>
                <form action="#">
                    <div class="form-group">
                        <label for="name">Họ và tên:</label>
                        <input type="text" id="name" name="name" placeholder="Nhập họ và tên">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Nhập email">
                    </div>
                    <div class="form-group">
                        <label for="message">Nội dung:</label>
                        <textarea id="message" name="message" placeholder="Nhập nội dung "></textarea>
                    </div>
                    <button class="btn" type="submit">Gửi</button>
                </form>
            </div>
        </div>

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4602948163474!2d106.6673648!3d10.7760147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb765b5c25%3A0x9a3519bdad5a85a3!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCAoSFVGTElUKQ!5e0!3m2!1svi!2s!4v1718961717933!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </section>
    <div>



    </div>
</main>

