<a href="@Url.Action("GetCartInfo","Cart")" style="margin-left:125px;color: #c92127;"  class="cart-link">
    <i style="color: #c92127" class="bi bi-bag"></i>
    <span style="background-color:#c92127;" class="quantity-prod-cart">@ViewBag.TotalNumber</span>
</a>

